/* CSS Document */
html, body{
  min-height: 100%;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: lighter;
}
body {margin: 0 !important;}

h1, h2, h3, h4, h5, h6 {font-family: Helvetica,Arial,sans-serif;
	font-weight: lighter; line-height: 1.5; margin: 0;
}

.full {width: 100%;}
.page {max-width: 1200px; margin: 0 auto; padding: 0 20px;}
main button {text-transform: uppercase; font-weight: bold; border: 0; font-size: 14px;}

header {background-color: #0067b3; padding: 15px 0 5px;}
header img {height: 20px;}
#phone {float: right; color: white; font-weight: bold;}

#top, #requests {position: relative; z-index: 1;}
#top img {display: block;}
#top button {padding: 10px 30px;}

.overlay {position: absolute; z-index: 10; color: white; width: 100%; text-align: center;
  left: 0;
  width: 100%;
  height: 100%;}
#ov1 {top: 25%;}
#trans {background-color: rgba(0,0,0,0.5); text-transform: uppercase; padding: 40px 15%; margin-bottom: 50px;}
#trans h1 {letter-spacing: 2px; font-size: 50px;}
#trans h3 {font-size: 24px; max-width: 500px; margin: 0 auto;}

#demo1 {background-color: #fbcd1b; color: #0067b3; margin-left: 20px;}
#free {background-color: #009635; color: white;}

#cust_logos {background-color: #eceef1;}

#info {margin-top: 100px;}
#info img:first-child {float: left;}
#features {margin-left: 30px; width: 50%; float: left;}
#ipad2 {display: none;}

.icon {margin-left: -38px; float: left;}
.icon li { 
  list-style: none; 
  position: relative;
  padding: 15px 50px 10px;
}

ul.icon li:before {
  content:"";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 11px;
}

ul li.ticket:before {background: url(assets/samanage-bullet-icons.png) 0 0;}
ul li.incident:before {background: url(assets/samanage-bullet-icons.png) -25px 26px;}
ul li.problem:before {background: url(assets/samanage-bullet-icons.png) 0 -43px;}
ul li.service:before {background: url(assets/samanage-bullet-icons.png) 0 -131px;}
ul li.self:before {background: url(assets/samanage-bullet-icons.png) 0 -87px;}
ul li.know:before {background: url(assets/samanage-bullet-icons.png) 0 -177px;}
ul li.email:before {background: url(assets/samanage-bullet-icons.png) 0 26px;}
ul li.auto:before {background: url(assets/samanage-bullet-icons.png) -25px 0;}
ul li.sla:before {background: url(assets/samanage-bullet-icons.png) -25px -43px;}
ul li.mobile:before {background: url(assets/samanage-bullet-icons.png) -25px -87px;}
ul li.google:before {background: url(assets/samanage-bullet-icons.png) -25px -131px;}
ul li.dash:before {background: url(assets/samanage-bullet-icons.png) -25px -177px;}

#requests {clear: both;}
#ov2 {top: 15%;}
#demo2 {background-color: #fbcd1b; padding: 15px 35px; margin-top: 30px;}
#requests img {max-height: 250px;}
#requests h1 {font-size: 40px;}


#social_media {text-align: center;}
#social_media img {margin: 50px 20px; width: 55px; height: 54px;}
#fb {background: url(assets/samanage-social-share.png) 0 0;}
#tw {background: url(assets/samanage-social-share.png) -56px 0;}
#gp {background: url(assets/samanage-social-share.png) -112px 0;}
#in {background: url(assets/samanage-social-share.png) -168px 0;}
#bl {background: url(assets/samanage-social-share.png) -224px 0;}
#em {background: url(assets/samanage-social-share.png) -279px 0;}

.logos {display: block; padding: 15px 0;}

footer {background-color: #f2f2f2; padding: 25px; text-align: center; font-size: 11px;}


@media (max-width: 1200px) {
  .page {max-width: 900px;}
  #ov1 {top: 15%;}
  #info {margin-top: 30px;}
  #info img:first-child {display: none;}
  #features {width: 100%; margin: 0 auto;}
  #ipad2 {display: inline; float: right; height: 280px; margin-top: 10px;}
}
@media (max-width: 970px) {
  .page {max-width: 600px;}
  #trans {padding: 10px 10%;}
  #trans h1 {font-size: 5vw;}
  #trans h3 {font-size: 3vw; max-width: 500px;}
  #features {width: 550px; float: inherit;}
  .icon {margin-bottom: 30px;}
  #ipad2 {display: none;}
  #requests img {min-height: 250px;}
}
@media (max-width: 700px) {
  .page {max-width: 450px;}
  #trans {margin-bottom: 20px;}
  #features {width: 100%;}
  .icon {margin-top: 0; margin-bottom: 0;}
  .dash {margin-bottom: 30px;}
  #requests h1 {font-size: 5vw; margin-top: 10px;}
  #requests h3 {font-size: 3vw;}
  #social_media img {margin: 30px 5px;}
}
@media (max-width: 480px) {
  .page {max-width: 350px;}
  #top img {height: 250px; width: auto;}
  #top button {padding: 5px 20px; display: block; margin: 10px auto;}
  #demo1 {margin-left: 0;}
  #requests h1 {font-size: 6vw; margin-top: 10px;}
  #requests h3 {font-size: 4vw;}
  #social_media {width: 250px; margin: 20px auto;}
  #social_media img {margin: 5px;}
}













